<div id='pins' class="transitions-enabled">
        <% @pins.each do |pin| %>

          <div class="box">

            <%= link_to image_tag(pin.image, class: 'w-100', style: 'max-width: 20rem;'), pin %><br/>
            <%= pin.description %>  <br/>

           <% if pin.user == current_user %>

            <%= link_to 'Edit', edit_pin_path(pin) %> |
            <%= link_to 'Delete', pin, method: :delete,  data: { confirm: 'Are you sure?' } %>

        <% end %>
        <br>
        </div>
      <% end %>
</div>
