<div class="panel panel-default">
<div class="panel-heading"><h2>About Us</h2></div>
<div class="panel-body">
<br/>
<p> Tigse is the tibetan word for proportion </p>

</div>
<div class= "panel-footer"> </div>
</div>